<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        
        <div class="container">
            <span id="tabela"></span>
        </div>

        <div id="modalEditarUsuario" class="modal">
            <div class="container ">
                <header class="w3-container w3-white">
                    <h2>Editar Projeto</h2>
                    <span onclick="fecharModalEditarUsuario()" class="btn">&times;</span>
                </header>
                <div class="w3-container w3-padding">
                    <label class="w3-text"><b>Nome</b></label>
                    <input class="w3-input" type="text" id="nomeEdicao">
                    <input type="hidden"  id="idEdicao">
                </div>
                <div class="w3-container w3-padding">
                    <label class="w3-text"><b>Email</b></label>
                    <input class="w3-input" type="email" id="emailEdicao" required>
                </div>
                <div class="w3-container w3-padding">
                    <label class="w3-text"><b>Senha</b></label>
                    <input class="w3-input" type="password" id="senhaEdicao" required>
                </div>
                <div class="w3-container w3-padding">
                    <label class="w3-text"><b>Nova senha</b></label>
                    <input class="w3-input" type="password" id="novaSenhaEdicao" required>
                </div>
                <footer class="w3-container">
                    <div id="button">
                        <button class="button " onclick="editarUsuario()">Salvar</button>
                    </div>
                </footer>
            </div>
        </div>

    </body>

    <script type="module">
        import verbosUsuario from "/js/verbosUsuario.js";

        window.getUsuarios = async function () {
         
          

            let resultado = await verbosUsuario.get();
            
            const usuarios =  await resultado.json();
            console.log(usuarios);
            //console.log('json',json);

            //document.getElementById('tarefas').innerHTML = JSON.stringify(json);
            if(usuarios.length == 0 ){
                document.getElementById("tabela").innerHTML = "Não existem usuários cadastrados!";
                return;
            }

            let tabela = "";
            let dataHead =
                "<table >" +
                "<tr>" +
                "<th>Nome</th>" +
                "<th>email</th>" +
                "<th>Ações</th>" +
                "</tr>";

            tabela += dataHead;
            for (let i = 0; i < usuarios.length; i++) {
                //+"<td>"+json[i].id+"</td>"
                let dataBody =
                    "<tr>" +
                    "<td>" +
                    usuarios[i].nome +
                    "</td>" +
                    "<td>" +
                        usuarios[i].email +
                    "</td>" +
                    "<td>" +
                    "<button class=' button' onclick=mostrarTelaEditar(" +
                    usuarios[i].id +",'"+usuarios[i].nome+"','"+usuarios[i].email+
                    "')><i class='material-icons'>edit</i>Editar</button>" +
                    "<button class=' button' onclick=excluirUsuario(" +
                    usuarios[i].id +
                    ") id ='excluir'><i class='material-icons'>delete</i>excluir</button>" +
                    "</td>" +
                    "</tr>";

                tabela += dataBody;
            }

            tabela += "</table>";

            document.getElementById("tabela").innerHTML = tabela;
            //Alternativa encontrada para reverter o bug de concatenação de projetos
           

            return usuarios;
        }; // fim função


        window.excluirUsuario = async function(id){

            const resultado =  await verbosUsuario.delete(id);
            const usuarioDeletado = await resultado.json();
            console.log(usuarioDeletado);//retorna true
            if(usuarioDeletado){
                alert("usuario deletado");
                window.getUsuarios();
            }else{
                alert("Não foi possivel excluir usuario");
            }
            
        }

        window.editarUsuario = async function(){

            let id = document.getElementById("idEdicao").value;
            let nome = document.getElementById("nomeEdicao").value;
            let email = document.getElementById("emailEdicao").value;
            let senha = document.getElementById("senhaEdicao").value;
            let novaSenha = document.getElementById("novaSenhaEdicao").value;

            const usuario = {
                'id': id,
                'nome' :nome,
                'email': email,
                'senha': senha,
                'novaSenha':novaSenha
            }

            const resultado =  await verbosUsuario.put(id, usuario);
            const usuarioAtualizado = await resultado.json();

            console.log(usuarioAtualizado);
            
            if(usuarioAtualizado){
                alert("Usuario Atualizado");
                window.getUsuarios();
            }else{
                alert("não foi possivel Atualizar");
            }

        }

        window.mostrarTelaEditar = function(id, nome, email){
            document.getElementById("modalEditarUsuario").style.display = "block";

            document.getElementById("idEdicao").value = id;
            document.getElementById("nomeEdicao").value = nome;
            document.getElementById("emailEdicao").value = email;
        }

        window.fecharModalEditarUsuario = function(){
            document.getElementById("modalEditarUsuario").style.display = "none";
        }

        getUsuarios();
    </script>
</html>
