<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
        />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
    </head>
    <body>
        
        <div class="">
            <a href="/" class="btn" style="float: right; text-decoration: none;">cadastrar usuários</a>
            <span id="tabela"></span>
        </div>

        <div id="modalEditarUsuario" class="modal">
            <div class="container padding-5">
                <span
                    onclick="fecharModal('modalEditarUsuario')"
                    class="btn bnt-close"
                    >&times; </span
                >
                <header class="">
                    <h2>Editar Projeto</h2>
                </header>
                <div class="input-form">
                    <label><b>Nome</b></label>
                    <input class="input" type="text" id="nomeEdicao" />
                    <input type="hidden" id="idEdicao" />
                </div>
                <div class="input-form">
                    <label><b>Email</b></label>
                    <input
                        class="input"
                        type="email"
                        id="emailEdicao"
                        required
                    />
                </div>
                <div class="input-form">
                    <label><b>Senha</b></label>
                    <input
                        class="input"
                        type="password"
                        id="senhaEdicao"
                        required
                    />
                </div>
                <footer class="w3-container">
                    <div id="button">
                        <button class="btn" onclick="editarUsuario()">
                            Salvar
                        </button>
                    </div>
                </footer>
            </div>
        </div>

        <div class="modal-msg" id="modal">
            <span class="close" onclick="fecharModal('modal')">&times;</span>
            <p id="mensagem"></p>
        </div>
    </body>

    <script type="module">
        import apiUsuario from "/js/apiUsuario.js";

        window.getUsuarios = async function () {
            let resultado = await apiUsuario.index();

            const usuarios = await resultado.json();

            if (usuarios.length == 0) {
                document.getElementById("tabela").innerHTML =
                    "<h2>Não existem usuários cadastrados!<h2>";
                return;
            }

            let tabela = "";
            let dataHead =
                "<table>" +
                "<caption>Lista de Usuários</caption>" +
                "<tr>" +
                "<th>Nome</th>" +
                "<th>email</th>" +
                "<th>Ações</th>" +
                "</tr>";

            tabela += dataHead;
            for (let i = 0; i < usuarios.length; i++) {
                //+"<td>"+json[i].id+"</td>"
                let dataBody =
                    "<tr>" +
                    "<td>" +
                    usuarios[i].nome +
                    "</td>" +
                    "<td>" +
                    usuarios[i].email +
                    "</td>" +
                    "<td>" +
                    "<button class=' button' onclick=mostrarTelaEditar(" +
                    usuarios[i].id +
                    ",'" +
                    usuarios[i].nome +
                    "','" +
                    usuarios[i].email +
                    "')><i class='material-icons'>edit</i>Editar</button>" +
                    "<button class=' button' onclick=excluirUsuario(" +
                    usuarios[i].id +
                    ") id ='excluir'><i class='material-icons'>delete</i>excluir</button>" +
                    "</td>" +
                    "</tr>";

                tabela += dataBody;
            }

            tabela += "</table>";

            document.getElementById("tabela").innerHTML = tabela;
            //Alternativa encontrada para reverter o bug de concatenação de projetos

            return usuarios;
        }; // fim função

        window.excluirUsuario = async function (id) {
            const resultado = await apiUsuario.deletar(id);
            const usuarioDeletado = await resultado.json();

            const modal = document.getElementById("modal");
            const msg = document.getElementById("mensagem");

            if (usuarioDeletado) {
                
                modal.style.display = "block";
                modal.style.background = "rgb(61, 151, 0)";
                msg.innerHTML = "Usuário excluído com sucesso!";

                window.getUsuarios();
            } else {
                
                modal.style.display = "block";
                modal.style.background = "rgb(255, 99, 71)";
                msg.innerHTML = "Erro ao excluir usuário!";
            }
        };

        window.editarUsuario = async function () {
            let id = document.getElementById("idEdicao").value;
            let nome = document.getElementById("nomeEdicao").value;
            let email = document.getElementById("emailEdicao").value;
            let senha = document.getElementById("senhaEdicao").value;

            const usuario = {
                id: id,
                nome: nome,
                email: email,
                senha: senha
            };

            const modal = document.getElementById("modal");
            const msg = document.getElementById("mensagem");

            const resultado = await apiUsuario.atualizar(id, usuario);
            const usuarioAtualizado = await resultado.json();
            if (resultado.status == 200) {
                modal.style.display = "block";
                modal.style.background = "rgb(61, 151, 0)";
                msg.innerHTML = "Usuário editado com sucesso!";
                window.getUsuarios();
            } else {
                modal.style.display = "block";
                modal.style.background = "rgb(255, 99, 71)";
                msg.innerHTML = usuarioAtualizado.message;
            }
        };

        window.mostrarTelaEditar = function (id, nome, email) {
            document.getElementById("modalEditarUsuario").style.display =
                "block";

            document.getElementById("idEdicao").value = id;
            document.getElementById("nomeEdicao").value = nome;
            document.getElementById("emailEdicao").value = email;
        };

        window.fecharModal = function (tela) {
            document.getElementById(tela).style.display = "none";
        };

        getUsuarios();
    </script>
</html>
